<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="MaxConcurrency" value="1"/>
    <add key="WaitSpinDelayInMilliseconds" value="50"/>
    <add key="BufferSize" value="1048576"/>
    <add key="LogBufferSize" value="524288"/>
    <add key="LogBufferCount" value="2"/>
    <add key="LogSpinLockCount" value="4000"/>
    <add key="LogSpinLockDelayInMilliseconds" value="50"/>
  </appSettings>
</configuration>